body {
  background-image: url(./Images/dininghall1.png);
  background-repeat: no-repeat;
  background-size: 90rem 70rem;
}




.newspaper {
  width: 30rem;
  height: auto;
}

.video-container {
  margin-top: 15.5rem;
  margin-left: -3rem;
  position: absolute;
}

.video-holder {
  width: 18rem;
  height: 13rem;
  border: black;
}

.daily-prophet-container {
  margin-left: -9rem;
  margin-top: 1rem;
}


.choc-frog-front {
  margin-left: 22rem;
  margin-top: -32rem;
}

.choc-frog-container {
  margin-top: 20rem;
  background-color: red;
}

.choc-frog-background {
  background-color: rgb(57,59,113);
  width: 20rem;
  height: 20rem;
  margin-left: 7rem;
  margin-top: -27rem;
}


.char-scroll-container {
  margin-top: -39rem; /*lower the number, goes to the bottom*/
  margin-left: 52rem; /* lower the number, goes to the left*/
  height: 10rem;
}

.hp-scroll {
  width: 18.5rem;
}



.page-container {
  margin-top: 2rem;
}

.table-container {
  margin-top: -20rem;
  width: 10rem;
  margin-left: 7rem;
  position: absolute;
}

#table-header {
  margin-left: 2rem;
}

form {
  margin-left: 32rem;
  margin-top: -35rem;
  width: 28rem;
  padding: 1rem;
}

.g-button {
  padding: 80px;
}

.s-button{
  padding: 5px;
}

.h-button{
  padding: 80px;
}

.r-button{
  padding: 5px;
}


.crest-container {
}

.crest-img {
width: 25rem;
  margin-top: -55rem;
  margin-left: 27rem;
}
